*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size:14px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2rem;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    width: 100%;
    padding: 0.3rem;
}

nav ul li{
    list-style: none;

}
a{
text-decoration: none;
color: #ffffff;
}

#home{
    background-color: rgb(95, 95, 190);
    border-radius: 14px;
    padding: 4px 4px;
}
/* main content */

span{
    font-size: 0.8rem;
    font-weight: 400;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.main-content .wave{
    width: 25rem;
    margin-left: 30rem;
}

.wave img{
    width: 10%;
}

.wave-image>img{
    width: 50%;
}

.wave h3{
    color: yellow;
    border: none !important;
}

/* projects */
#project-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    
}


.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.two-images{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img{
    width: 40%;
    margin: 1rem;
}
.img img{
    width: 100%;
   
}

h3,h4{
    text-align: center;
}
h3{
    border-bottom: 2px solid blue;
}

/* Footer */

footer{
height: auto;
width: 100%;
}
footer ul li {
    width: 3rem;
    display: inline-block;
}

ul li a img{
    width: 2rem;

}

footer ul{
    display: flex;
    justify-content: center;

}

footer div{
    width: fit-content;
    margin: 0 auto;
 }

 .hamburger-menu{
    width: 0px;
    height: 0px;
    display: none;
 }
 /* media-queries */

 @media screen and (max-width:768px){
    nav{
        display: none;
    }

    .hamburger-menu{
        display: block;
        width: 2rem;
        height: 1rem;
    
    }
    .hamburger-menu img{
        width: 100%;
    }
 }
 @media screen and (max-width:1024px) {
   
    .main-content{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .main-content .wave{
        width: 10rem;
        margin: 3rem auto;
    }
    .wave-image>img{
        width: 29%;
    }
    .wave-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }
